{% extends "base.html" %}

{% load static %}

{% block title %}
    Create Item -
{% endblock title %}

{% block content %}
    <h4>Create item</h4>
    <div class="border-top pt-3"></div>
    <br>
    <form class="needs-validation" method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">Title*</label>
            <input 
                type="text" 
                class="form-control" 
                id="titleField" 
                name="title" 
                value="{{ objects.title }}"
                required 
            />
        </div>
        <div class="invalid_feedback invalid-feedback" style="display:none"></div>
        <p class="text-sm text-success titleSuccessOutput"></p>

        <br>
        <button class="btn btn-outline-dark submit-btn" disabled>Add</button>
    </form>
{% endblock content %}

{% block javascript %}
    <script src="{% static "js/validate_title.js" %}"></script>
{% endblock javascript %}